# Lists

## Lists
- A list is a collection of items, that is stored in a variable. 
- The items should be related in some way, but there are no restrictions on what can be stored in a list.

### Syntax
list-name = [list of comma seperated values]

### Slicing with list

index start with 0

 listname[index_number]

 listname[start_index:end_index]

 listname[:end_index]

 listname[start_index:]


negative index: 
 listname[:-index] 


### list methods
- append()
- len()
- insert(index,value)
- sort()
- reverse()
- pop(), pop(index)
- min(), max(), sum()


We can change the contents of the lists after its creation

listname[index]=newvalue

#### Task 1: Run below code and try to make some changes to the code

In [2]:
# list creation
countries = ['Africa', 'Australia', 'USA', 'China']

# print whole list
print(countries)

# Accessing list elements
print("Value at 0 index: ",countries[0])

# assignning new value to index
countries[0]='Japan'

print("New value at index 0: ",countries[0])

#Changes made by me
print(countries[0:])
print(countries[:2])

['Africa', 'Australia', 'USA', 'China']
Value at 0 index:  Africa
New value at index 0:  Japan
['Japan', 'Australia', 'USA', 'China']
['Japan', 'Australia']

### Iterating lists

#### Task 2: Run below code and try to make some changes to the code

In [4]:

lists=['flower','abc',6,'Semester']

print(lists)

# we can access the elements of list using loops

for item in lists:
    print(item)

#Changes made by me
lists[1] = 'Akshat'

print("New value at index 1: ",lists[1])

#New iteration
for i in lists:
    print(i)

['flower', 'abc', 6, 'Semester']
flower
abc
6
Semester
New value at index 1:  Akshat
flower
Akshat
6
Semester

#### Task 3: Run below code and try to make some changes to the code

In [5]:
# print the index number with value

countries = ['japan', 'China', 'USA']

for index, country in enumerate(countries):
    place = str(index)
    print("Index: " + place + ", Value: " + country.title())
    
# find index of
index = countries.index('USA') 
print("\n Index of USA is: ",index)

#Changes made by me 
countries[1] = 'India'

for index, country in enumerate(countries):
    place = str(index)
    print("Index: " + place + ", Value: " + country.title())

# find index of
index = countries.index('India') 
print("\n Index of India is: ",index)

Index: 0, Value: Japan
Index: 1, Value: China
Index: 2, Value: Usa

 Index of USA is:  2
Index: 0, Value: Japan
Index: 1, Value: India
Index: 2, Value: Usa

 Index of India is:  1

#### Task 4: Run below code and try to make some changes to the code

In [7]:
# Remove the last country from the list by index or by value
countries = ['japan', 'China', 'USA']

del countries[1]

print(countries)

#Changes made by me

del countries[1]

print(countries)

['japan', 'USA']
['japan']

### List comprehension (with for loop)

#### Task 5: Run below code and try to make some changes to the code

In [8]:
# without comprehension

cubes = []
for x in [1, 2, 3, 4, 5]:
    cubes.append(x ** 3) 
    
print(cubes)

#Changes made by me
pow4 = []
for x in [1, 2, 3, 4, 5]:
    pow4.append(x ** 4) 
    
print(pow4)

[1, 8, 27, 64, 125]
[1, 16, 81, 256, 625]

In [9]:
# with comprehension
  
cubes= [x**3 for x in [1, 2, 3, 4, 5]]
print(cubes)

#Changes made by me
  
pow5= [x**5 for x in [1, 2, 3, 4, 5]]
print(pow5)

[1, 8, 27, 64, 125]
[1, 32, 243, 1024, 3125]

In [10]:
numbers=[1,2,3,4,5,6,7,8,9,10]
list=[x for x in numbers]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Program 1: Write a python program which does the following
- Make a list that includes four job types , such as 'programmer', 'truck driver' and so on
- Use the *list.index()* function to find the index of one job type in your list.
- Use the *in* function to show that this job type is in your list.
- Use the *append()* function to add a new job type to your list.
- Use the *insert()* function to add a new job type "Python Programmer" at the beginning of the list.
- Use a loop to show all the job types in your list.

In [15]:
 l= ['programmer','truckdriver','chef','doctor']
print(l.index('programmer'))

i=l.index("programmer")
print(l[i])
if l[i] in l:
  print(l[i],"is in list  l")

j_tpye=input("enter job type :")
l.append(j_type)
print(l)

j1_type = input("Enter the Job Type : ")
l.insert(0, j1_type)
print(l)


print("\n")
for i in l :
  print(i)

0
programmer
programmer is in list  l
enter job type :chef

NameError: ignored

#### Problem 2: Write a python program for following

- Make a list that includes the names of five famous people.
- Remove each person from the list, one at a time, using the four methods given below:
    - Del item from the list by del: del listname[index]
    - Remove the item from the list by remove method: listname.remove('itemname')
    - Using pop() method, It removes the last item from the list: listname.pop() 
    - Pop any item from the list by index: listname: listname.pop(index)
- Print out a message that there are no famous people left in your list, and print your list to prove that it is empty.

In [17]:
#list that includes the names of five famous people
l = ['Narendra Modi', 'Hilary Clinton', 'Virat Kohli', 'MS Dhoni', 'APJ ABDUL KALAM']

#Del item from the list by del: del listname[index]
del l[0]

#Remove the item from the list by remove method: listname.remove('itemname')
l.remove("Hilary Clinton")

#Using pop() method, It removes the last item from the list: listname.pop()
l.pop()

#Pop any item from the list by index: listname: listname.pop(index)
l.pop(0)

print(l)

['MS Dhoni']

#### Program 3: Write a python program which does the following

- Store the first ten letters of the alphabet in a list.
- Use a slice to print out the first three letters of the alphabet.
- Use a slice to print out any three letters from the middle of your list.
- Use a slice to print out the letters from any point in the middle of your list, to the end.

In [18]:
#Store the first ten letters of the alphabet in a list
l = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

#Use a slice to print out the first three letters of the alphabet
print(l[:3])

#Use a slice to print out any three letters from the middle of your list
print(l[4:8])

#Use a slice to print out the letters from any point in the middle of your list, to the end
print(l[2:])

['A', 'B', 'C']
['E', 'F', 'G', 'H']
['C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

#### Program 4: Write a python program for following

- Your goal in this exercise is to prove that copying a list protects the original list.
- Make a list with three people's names in it.
- Use a slice to make a copy of the entire list.
- Add at least two new names to the new copy of the list.
- Make a loop that prints out all of the names in the original list, along with a message that this is the original list.
- Make a loop that prints out all of the names in the copied list, along with a message that this is the copied list.

In [2]:
#Make a list with three people's names in it
l1 = ['Akshat', 'Amay', 'Vanshika']

#Use a slice to make a copy of the entire list
l2 = l1[:]

#Add at least two new names to the new copy of the list
l2.append("Jhabak")
l2.append("Jain")

#Make a loop that prints out all of the names in the original list, along with a message that this is the original list
print('This is the Original List: ')
for i in l1: 
  print(i, ', ', end='')

#Make a loop that prints out all of the names in the copied list, along with a message that this is the copied list  
print('\b\b\n\nThis is the Copied List: ')
for i in l2: 
  print(i, ', ', end='')
print('\b\b')

This is the Original List:
Akshat , Amay , Vanshika , 

This is the Copied List:
Akshat , Amay , Vanshika , Jhabak , Jain , 

#### Program 5: Write a python program for following

- Create a list to store the marks of top 15 students obtained by the students in Python Quiz held on 21/08/2018. Maximum marks=15
- Print the maximum marks obtained by the student from the list.
- Print the minimum marks obtained by the student.
- Find the sum of all the marks.
- Find the average of the marks.
- Reverse the original list and display using for loop.

In [3]:
#list to store the marks of top 15 students obtained by the students
l = [14, 15, 10, 9, 6, 14, 13, 5, 10, 14, 15, 13, 11, 10, 15]

#Print the maximum marks obtained by the student from the list.
#Print the minimum marks obtained by the student.
#Find the sum of all the marks.
#Find the average of the marks.
print('Maximum : ', max(l), '\nMinimum : ', min(l), '\n Sum : ', sum(l), '\n Average : ', sum(l)/15)
l = l[::-1]

#Reverse the original list and display using for loop
print("Reverse : ", l)

Maximum :  15
Minimum :  5
 Sum :  174
 Average :  11.6
Reverse :  [15, 10, 11, 13, 15, 14, 10, 5, 13, 14, 6, 9, 10, 15, 14]

#### Program 6: Write a program in Python to create a list which contains n integers entered by the user and delete all odd numbers from the list. Example: If initial contents of the list is=[1,2,3,4,5,6,7,8,9,10], the output would be=[2,4,6,8,10].

In [4]:
list = [57,110,786,11,]

print ("Original list:")
print (list)
for i  in list:
	if(i%2 != 0):
	    list.remove(i)
print ("list after removing ODD numbers:")
print (list)

Original list:
[57, 110, 786, 11]
list after removing ODD numbers:
[110, 786]

## Optional Questions

#### Program 7: Write a python program for following.
- Create an initial empty list named "countries" 
- Read the names of n countries from the user and add them to country list:
- Use for loop to display all the names of the countries from the list and add "is Great" after the country name if it is "India"

In [6]:
list=['Aus','India','Pak','AFG']
for _ in range(len(list)):
    if list[_] == 'India':
        print('India is Great')
        continue
    print(list[_])

Aus
India is Great
Pak
AFG

### Program 8: Write a Python program to find the list in a list of lists whose sum of elements is the highest.
Sample lists: [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
Expected Output: [10, 11, 12]

In [7]:

l = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
print(max(l))

[10, 11, 12]